@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bgnck6');
  src:  url('fonts/icomoon.eot?bgnck6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bgnck6') format('truetype'),
    url('fonts/icomoon.woff?bgnck6') format('woff'),
    url('fonts/icomoon.svg?bgnck6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
	font-size: 16px;
}
body {
	font-family: monospace;
}

.active-icon {
	position: relative;
}

.active-icon:after {
	content: '\e904';
	left: 8px;
	line-height: 0;
	position: absolute;
	top: 50%;

	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.active-option {
	background: rgb(255, 255, 0);
	background: rgba(255, 255, 0, 0.3);
	border: 1px solid indianred;
	cursor: pointer;
	padding-bottom: 16px;
	padding-top: 14px;
	position: relative;
	transition: background 0.35s ease, color 0.3s ease-out;
	z-index: 50;
}

.active-option,
#globe-select li {
	box-sizing: border-box;
	display: block;
	padding: 10px 0px 10px 12px;
	width: 100%;
}


.active-option:hover {
	background: teal;
	color: white;
}

.active-select
.active-option {
	background-color: cornflowerblue;
}

.active-select
.active-option:hover {
  background-color: seagreen;
}

.active-select .active-option {
	border-bottom-style: none;
}

.active-select .active-option,
.active-select #globe-select li {

}
.content-wrapper {
	background: #CDCDCD;
	box-sizing: border-box;
	margin: 12px auto;
	min-height: 100%;
	padding: 18px 24px 18px;
	width: 98%;
}

#country-input {
  border-color: #787878;
  border-style: solid;
  border-width: 1px;
  padding: 10px 6px;
  width: 100%;
}


#country-input:focus {
  box-shadow: 0px 0px 5px 0px #6c8295;
  outline: none;
}

.initial-text {
	line-height: 1.25em;
	margin-top: 10px;
	text-indent: 14px;
}

#input-container {
  left: 0;
  position: absolute;
  right: 50%;
  top: 0;
}

#input-container.active-input #country-input {
  border-bottom-color: #B4B4B4;
}

#input-container.active-input #search-options {
  border-style: solid;
  border-top-style: none;
  display: block;
  padding: 10px 6px;
}

#input-container.no-results #search-options {
  border-style: none !important;
  padding: 0 !important;
}

.flag-color {
	border-style: solid;
	border-width: 2px;
  cursor: pointer;
  display: inline-block;
  min-height: 85px;
  min-width: 220px;
  position: relative;
  width: 100%;
}

.flag-color:before {
  background-color: rgb(155, 155, 155);
  background-color: rgba(0, 0, 0, 0.26);
  bottom: 0;
  content: '';
  opacity: 0;
  top: 0;
  z-index: 0;
}

.flag-color:before,
.flag-color:after {
  left: 0;
  position: absolute;
  right: 0;
  transition: opacity 0.4s ease-in-out;
}

.flag-color:after {
  color: #FFF;
  content: 'placeholder';
  line-height: 0;
  opacity: 0;
  text-align: center;
  top: 50%;
  z-index: 10;
}

.flag-color:hover:before,
.flag-color:hover:after {
  opacity: 1;
}

#flag-info {
  margin: 2em auto 0;
  opacity: 0;
  padding-top: 24px;
  transform: perspective(1px) translateY(-100%) translateZ(0px);
  transform-origin: 50% 0;
  width: 74%;
}

#flag-info.active-flag {
  animation-duration: 0.12s;
  animation-fill-mode: forwards;
  animation-name: info-animate;
  animation-timing-function: linear;
  padding-bottom: 20px;
}

.flag-inline-display {
	display: inline-block;
	margin: 0;
	padding: 0;
  position: relative;
	vertical-align: top;
}

.flag-name {
  margin-bottom: 8px;
  text-align: left;
}

#flag-nation-colors {
  margin-top: 16px;
  text-align: right;
}

#flag-nation-colors li {
  padding: 14px 0;
}

#footer {
	text-align: center;
}

#footer a {
	text-decoration: none;
}

#footer a:hover {
  color: orangered;
}

#globe-map {
	margin: 2.4em 0;
  padding: 64px 0 0;
	position: relative;
	shape-rendering: geometricPrecision;
	width: 40%;
}

#globe-select {
	background: aliceblue;
	cursor: pointer;
	height: 800%;
	max-width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 3px 0 6px;
	position: absolute;
	top: 100%;
	transition: transform 0.2s ease;
	transform: scaleY(0) translateY(-12.5%);
	transform-origin: 50% 0;
	width: 100%;
}

#globe-select li {
	height: 12.5%;
}

#globe-select li:hover {
	background: orangered;
	transition: background 0.25s ease;
}

#globe-select li:not(:last-child) {
	border-bottom: 1px solid #ACACAC;
}

#globe-svg {
  display: block;
  margin: 0 auto;
}

.globe-tooltip {
	display: none;
	white-space: nowrap;
}

.map-outer-container {
	padding: 14px 8px;
	white-space: nowrap;
}

#nation-info {
  margin-left: 5%;
  width: 55%;
}

#nation-title {
  font-size: 1.13rem;
  text-align: center;
}

.page-title {
	font-size: 1.2em;
}

.search-option {
  border-bottom: 1px solid #D8D8D8;
  cursor: pointer;
  padding: 6px 5px;
}

.current-option,
.search-option:hover, .search-option:focus, .search-option:active {
  background: #d8d8d8;
  color: #272e75;
}

.search-option:last-child {
  border-bottom: none;
}

#search-options {
  background: #FFF;
  border: 1px solid #787878;
  border-top: none;
  border-style: none;
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
}

#side-content {
	position: absolute;
  left: 55%;
	max-width: 580px;
  right: 0;
  z-index: 650;
}

#side-content.active-select #globe-select {
	transform: scaleY(1) translateY(0%);
}

// from ian lunn's hover.css

.sweep-to-bottom {
	position: relative;
	transform: perspective(1px) translateZ(0px);
	-webkit-transform: perspective(1px) translateZ(0px);
	transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transform-property: color;
	-webkit-transition-property: 0.3s;
}

.sweep-to-bottom {
	position: relative;
	transform: perspective(1px) translateZ(0px);
	-webkit-transform: perspective(1px) translateZ(0px);
	transition-duration:  0.3s;
	-webkit-transition-duration: 0.3s;
	transition-property: color;
	-webkit-transition-property: color;
}

.sweep-to-bottom:before {
	background: #BCBCBC;
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform: scaleY(0);
	-webkit-transform: scaleY(0);
	transform-origin: 50% 0;
	-webkit-transform-origin: 50% 0;
	transition-duration: 0.24s;
	-webkit-transition-duration: 0.24s;
	transition-property: transform;
	-webkit-transition-property: transform;
	transition-timing-function: ease-out;
	-webkit-transition-timing-function: ease-out;
	z-index: -1;
}

.sweep-to-bottom:active,
.sweep-to-bottom:focus,
.sweep-to-bottom:hover {
	color: white;
}

.sweep-to-bottom:active:before,
.sweep-to-bottom:focus:before,
.sweep-to-bottom:hover:before {
	transform: scaleY(1);
	-webkit-transform: scaleY(1);
}

.vertical-bob,
.active-icon {
	transform: perspective(1px) translateZ(0px);
}
.vertical-bob:hover:after,
.vertical-bob:hover .active-icon:after {
	animation-delay: 0s, 0.6s;
	animation-direction: normal, alternate;
	animation-duration: 0.6s, 1.2s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1, infinite;
	animation-name: fall, vert-bob;
	animation-timing-function: ease-out, ease-in-out;
}
// icomoon

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sort-desc:before {
  content: "\f0dd";
}
.icon-sort-down:before {
  content: "\f0dd";
}
.icon-gittip:before {
  content: "\f184";
}
.icon-gratipay:before {
  content: "\f184";
}
.icon-arrow-circle-o-right:before {
  content: "\f18e";
}
.icon-heart:before {
  content: "\e900";
}
.icon-chat:before {
  content: "\2300";
}
.icon-heart2:before {
  content: "\e04a";
}
.icon-play:before {
  content: "\e901";
}
.icon-arrow-right-alt1:before {
  content: "\e902";
}
.icon-arrow-with-circle-down:before {
  content: "\e903";
}
.icon-chevron-with-circle-down:before {
  content: "\e904";
}
.icon-heart3:before {
  content: "\e905";
}
.icon-github-with-circle:before {
  content: "\e906";
}
.icon-github:before {
  content: "\e907";
}


// :keyframes
@keyframes bob {
}

@keyframes info-animate {
  0% {
    line-height: 0;
    opacity: 0;
    transform: translateY(-100%);
  }

  22% {
    transform: translateY(0%);
  }

  100% {
    line-height: 1;
    opacity: 1;
    transform: translateY(0%);
  }
}


@keyframes fall {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(4px);
	}
}


@keyframes vert-bob {
	0% {
		transform: translateY(3px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(3px);
	}
}
// keyframes:
